/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol,
menu {
    list-style: none;
}

/* BODY */

body {
    background-color: #236383;
}

/* HEADER */

.bg-white {
    background-color: rgb(255, 255, 255);
}

.logo {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* MAIN */

.content {
    padding-top: 25px;
}

.container-menu {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 1px;
}

.card-menu {
    padding-top: 20px;
    background-color: white;
    border-radius: 3px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

.card {
    background-color: white;
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 20px 15px 20px 20px;
}

.rectangle {
    display: inline-block;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 12px;
    vertical-align: middle;
}

.bg-purple {
    background-color: #ab5de6;
}

.bg-blu {
    background-color: #09a9ed;
}

.bg-green {
    background-color: #2cc6ab;
}

.bg-orange {
    background-color: #ff9b00;
}

.bg-pink {
    background-color: #ec4a9d;
}

.bg-green-light {
    background-color: #a3d116;
}

li {
    margin-bottom: 10px;
}

.font-size-small {
    font-size: small;
    display: inline-block;
    vertical-align: middle;
}

.font-size-enorme {
    font-size: 50px;
}

.circle {
    display: inline-block;
    color: green;
    border-radius: 50%;
    padding: 1px;
    border: 1px solid green;
    /* outline: 1px solid green; */
    margin-bottom: 4px;
    /* margin-left: 10px; */
}

.circle-red {
    display: inline-block;
    color: red;
    border-radius: 50%;
    border: 1px solid red;
    padding: 1px;
    margin-bottom: 4px;
    /* margin-left: 10px; */
}

p {
    display: inline-block;
    vertical-align: middle;
}

.add-task {
    background-color: aquamarine;
    color: black;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 2px;
    vertical-align: middle;
    border: 1px solid grey;
}

.add-section {
    background-color: white;
    color: black;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 2px;
    vertical-align: middle;
    border: 1px solid grey;
    margin-left: 3px;
}

.display-inline-block {
    display: inline-block;
}