/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol,
menu {
    list-style: none;
}

/* BODY */

body {
    background-color: #236383;
}

/* HEADER */

.bg-white {
    background-color: rgb(255, 255, 255);
}

.logo {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* MAIN */

.content {
    padding-top: 25px;
}

.container-menu {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 1px;
}

.card-menu {
    padding-top: 20px;
    background-color: white;
    border-radius: 3px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

.card {
    background-color: white;
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 20px 15px 20px 20px;
}

.rectangle-blu {
    background-color: #09a9ed;
    color: white;
    padding: 5px 10px;
    width: 50px;
    font-size: 7px;
    border-radius: 10px;
    margin-bottom: 100px;
    line-height: 20px;
    vertical-align: middle;
}

.rectangle-purple {
    background-color: #ab5de6;
    color: white;
    padding: 5px 10px;
    width: 50px;
    font-size: 120px;
    border-radius: 10px;
    line-height: 20px;
    vertical-align: middle;
}

.rectangle-green {
    background-color: #2cc6ab;
    color: white;
    padding: 5px 10px;
    width: 50px;
    font-size: 7px;
    border-radius: 10px;
    line-height: 20px;
    vertical-align: middle;
}

.rectangle-orange {
    background-color: #ff9b00;
    color: white;
    padding: 5px 10px;
    width: 50px;
    font-size: 7px;
    ;
    border-radius: 10px;
    line-height: 20px;
    vertical-align: middle;
}

.rectangle-pink {
    background-color: #ec4a9d;
    color: white;
    padding: 5px 10px;
    width: 50px;
    font-size: 7px;
    border-radius: 10px;
    line-height: 20px;
    vertical-align: middle;
}

.rectangle-green-light {
    background-color: #a3d116;
    color: white;
    padding: 5px 10px;
    width: 50px;
    font-size: 7px;
    border-radius: 10px;
    line-height: 20px;
    vertical-align: middle;
}

li {
    vertical-align: middle;
    line-height: 300px;
    /* Come diamine centro tutto il contenuto */
}

h2 {
    padding-top: 20px;
    vertical-align: middle;
}

.font-size-small {
    font-size: small;
}

.circle {
    color: green;
    border-radius: 50%;
    padding: 3px;
    outline: 1px solid green;
    vertical-align: middle;
    /* margin-left: 10px; */
}

.circle-red {
    color: red;
    border-radius: 50%;
    padding: 3px;
    outline: 1px solid red;
    vertical-align: middle;
    /* margin-left: 10px; */
}

.font-size-enorme {
    font-size: 50px;
}

.add-task {
    background-color: aquamarine;
    color: black;
    padding: 5px 10px;
    width: 50px;
    font-size: 20px;
    border-radius: 2px;
    line-height: 20px;
    vertical-align: middle;
    outline: 1px solid grey;
}

.add-section {
    background-color: white;
    color: black;
    padding: 5px 10px;
    width: 50px;
    font-size: 20px;
    border-radius: 2px;
    line-height: 20px;
    vertical-align: middle;
    outline: 1px solid grey;
    margin-left: 3px;
}

.margin-venti {
    vertical-align: middle;
}